<%= render partial: 'js' %>

<div class="span12 body_layout" >
	<div class='own_page_header'>	
	   <h3>Tasks Approval</h3>
	   <div style='margin-top:-15px'>
	     <p>approve or reject a tasks<p>
		 <div id='count'>
 		   <%= render partial: 'count' %>
	     </div>
	   </div>
	
	   <div id='spin_spin' class='pull-right' style='display:none;margin-top:-100px'>
	     <%= image_tag 'spin.gif' %>
	   </div>
	</div>
  <div style='padding:20px'>
	
	<br/>
	
	<%= form_tag tasks_approval_path, :method => 'get', :id => 'approval_search', :class => "form-search " do %><div class='pull-left' style='margin-left: 0px'>
	  <label>Employee Name</label>
	  <%= select_tag("person", options_from_collection_for_select(options_for_employees, :id, :first_name ,""), :include_blank => true) %>
	</div>   <% end %>
	<br/><br/>
	<div id = 'approve' class='btn btn-success pull-left' style='margin-right:120px'>Approve</div>
	<div class='btn btn-danger pull-right' >Disapprove</div>
	
	<div id='for_approval'>
	  <%= render partial: 'to_be_approved' %>
	</div>
	

  </div>
</div>	