<%= render partial: 'js' %>

<div class="span12 body_layout" >
	<div class='own_page_header'>	
	   <h3>Tasks Approval</h3>
	   <div style='margin-top:-15px'>
	     <p>approve or reject a tasks<p>
		 <div id='count'>
 		   <%= render partial: 'count' %>
	     </div>
	   </div>
	
	   <div id='spin_spin' class='pull-right' style='display:none;margin-top:-100px'>
	     <%= image_tag 'spin.gif' %>
	   </div>
	</div>
  <div style='padding:20px'>
	
  <br/>
 
  <div id="approve_modal" class="modal hide fade in" style="display: none; ">  
    <div class="modal-header">  
      <a class="close" data-dismiss="modal">×</a>  
      <font style='color:green'><h4>Approve Tasks!</h4></font>  
    </div>  
    <div class="modal-body">   
      <p>Are you sure you want to approve selected?</p>                
    </div>  
    <div class="modal-footer">  
      <a href="#" class="btn btn-success" id='approve_link'>Approve</a>  
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>  
    </div>  
  </div> 

  <div id="disapprove_modal" class="modal hide fade in" style="display: none; ">  
    <div class="modal-header">  
      <a class="close" data-dismiss="modal">×</a>  
      <font style='color:red'><h4>Disapprove Tasks!</h4> </font> 
    </div>  
    <div class="modal-body">   
      <p>Are you sure you want to approve selected?</p>                
    </div>  
    <div class="modal-footer">  
      <a href="#" class="btn btn-danger" id='disapprove_link'>Disapprove</a>  
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>  
    </div>  
  </div> 
	
	<%= form_tag tasks_approval_path, :method => 'get', :id => 'approval_search', :class => "form-search " do %><div class='pull-left' style='margin-left: 0px'>
	  <label>Employee Name</label>
	  <%= select_tag("person", options_from_collection_for_select(options_for_employees, :id, :first_name ,""), :include_blank => true) %>
	</div>   <% end %>
	<br/><br/>

	<div id = 'approve' class='btn btn-success pull-left' style='margin-right:120px' >Approve</div>
	<div id = 'disapprove' class='btn btn-danger pull-right' >Disapprove</div>
	
	<div id='for_approval'>
	  <%= render partial: 'to_be_approved' %>
	</div>
	

  </div>
</div>	