<%= form_for @person, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
 
  <% if current_user.role.name == 'Administrator' || current_user.role.name == '1st Level User'  %>  

  <div class="control-group">
    <%= f.label :time_zone, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :time_zone, ([['Kansas','America/Chicago'], ['Manila', 'Asia/Manila']]),:include_blank => true %>
    </div>
  </div>

  <div class='control-group'>
     <%= f.label :organization_id, "Organization" ,:class => 'control-label' %>
     <div class ="controls">	
	    <%= f.select(:organization_id, Organization.all.collect{|o| [o.name, o.id] }, :include_blank => true , :class => 'text_field') %>
     </div> 
  </div>

  <div class='control-group'>
     <%= f.label :department, :class => 'control-label' %>
     <div class ="controls">	
	   <%= f.select(:department_id, Department.all.collect{|d| [d.name, d.id] },:include_blank => true, :class => 'text_field') %>
     </div>
  </div>
  
  <div class='control-group'>
     <%= f.label :organization_role_id, :class => 'control-label' %>
     <div class ="controls">	
	    <%= f.select(:organization_role_id, OrganizationRole.all.collect{|r| [r.name, r.id] },:include_blank => true, :class => 'text_field') %>
     </div> 
  </div>
 
  <div class='control-group'>
     <%= f.label :role_id, :class => 'control-label' %>
     <div class ="controls">	
	    <%= f.select(:role_id, Role.all.collect{|r| [r.name, r.id] },:include_blank => true, :class => 'text_field') %>
     </div> 
  </div>

  <div class="control-group">
    <%= f.label :can_approve, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :can_approve, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
   <%= f.label :start_time, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :start_time, :class => 'text_field' %>
   </div>
 </div>

 <div class="control-group">
   <%= f.label :end_time, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :end_time, :class => 'text_field' %>
   </div>
 </div>

  <% end %>

  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :username, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :value => @person.password ,:class => 'text_field' %>
    </div>
  </div>
  
  <br/>
  
  <div style='margin-left:60px'>
  <h5>Email Notifications</h5>
  <p>Send all Kairos email notifications and reminders to this address:</p>
  </div>
   
  <br/>
  <div class="control-group">
    <%= f.label :email_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email_address, :class => 'text_field' %>
    </div>
  </div>
  <br/>
  
  <div class="control-group">
    <%= f.label :image_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_url, :class => 'text_field' %>
    </div>
  </div>
  <br/>

  <div class="form-actions">
    <div style='margin-left:-120px'>	
      <%= f.submit nil, :class => 'btn btn-primary' %>

      <% if current_user.role.name == 'Administrator' || current_user.role.name == '1st Level User'  %>  
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                people_path, :class => 'btn' %>
      <% else %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                person_tasks_path, :class => 'btn' %>
      <% end %>
    </div>
  </div>
<% end %>
