<%- model_class = Person -%>
<div class="span12 body_layout">
<div style='padding:20px'>
<div class="page-header">
  <h3>System User</h3>
</div>

    <% @people.each do |person| %>
	<div style='float:left;margin-right:10px;width: 300px;border:solid 0px;margin-bottom:20px;min-height:100px'>
	<ul class="thumbnails">
	  <li class="span1">

	     <%= image_tag avatar_url_normal(person) %> 
	     
	<div style='margin-top:-50px;margin-left:70px;width:200px;'>
		<b><%= person.name %></b><br/>
		<%= link_to person.email_address, "#" , :class => 'link_blue'%><br/>
		<% if person.is_admin? %>
		  <%= person.role.name  %><br/>
		<% end %>
		 <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_person_path(person) , :class => 'link_red' %>
          <% link_to t('.destroy', :default => t("helpers.links.destroy")),
                      person_path(person),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },:class => 'btn btn-mini btn-danger' %>
	
      </div>
	  </li>

         
	</ul>
	</div>				
	<% end %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_person_path,
            :class => 'btn btn-primary' %>
</div>
</div>