<%= render partial: 'people_js' %>

<% for person in @added_people %>
<div style='width:500px;overflow:auto;margin-bottom:10px' id='person_<%= person.id %>'>
  	  <div class='noti_pic' style='margin-right:10px'>
	    <%= image_tag avatar_url_normal(person), :class => 'img-rounded' %>  	
	  </div>
	  <div style='margin-left:20px !important'> 
	    <%= person.name %>
	  </div>  
	  <% if person.id != @event.created_by %>
	  <div style='float:right;margin-top:-10px'>
	    <div class='icon-remove' id='<%= person.id %>'></div>	
	  </div>
	  <div id='spin_small2' class='spin_<%= person.id %>'> <%= image_tag 'spin.gif' %> </div>
	  <% end %>	
</div>	
<% end %>