<div class="span8 body_layout">
   <div class='own_page_header'>		
     <h3><%= @event.title %></h3>
	 created by <%= creator_name(@event.creator) %>
   </div>
   <br/>

   <div style='padding:20px'>	
     <%= @event.description %> 
	 <br/><br/><br/>
	  
	 <b>People who will join this event</b><br/><br/> 
	
	 <% for person in @people %>
	 <div style='width:500px;overflow:auto;margin-bottom:10px'>
	   	  <div class='noti_pic' style='margin-right:10px'>
		    <%= image_tag avatar_url_normal(person), :class => 'img-rounded' %>  	
		  </div>
		  <div style='margin-left:20px !important'> 
		    <%= person.name %>
		  </div>  
	 </div>	
	 <% end %>
   </div>	

<br/>	
</div>

<div class="span3 side_layout" style='padding:10px'>

        <%= link_to "Cancel and Delete this event",event_path(@event),
                      :method => :delete, :class => 'btn btn-danger' %>
<br/>
</div>