<%= render partial: 'show_js' %>

<div class="span8 body_layout">
   <div class='own_page_header'>		
     <h3><%= @event.title %></h3>
	 created by <%= creator_name(@event.creator) %>
   </div>


   <div style='padding:20px'>
	 <b>From:</b> <%= @event.from.strftime('%B %d, %Y') %> <br/>
	 <b>To:</b> <%= @event.to.strftime('%B %d, %Y') %> 
	 <br/><br/>
		
     <%= @event.description %> 
     <%= hidden_field_tag :event_id, @event.id %>
	 <br/><br/><br/>
	  
	 <b>People who will join this event</b><br/><br/> 
	
     <div id='people_list'>
	   <%= render partial: 'people' %>
	 </div> 
   </div>	

<br/>	
</div>

<div class="span3 side_layout" style='padding:10px'>

        <%= link_to "Cancel and Delete this event",event_path(@event),
                      :method => :delete, :class => 'btn btn-danger' %>
<br/>
</div>