<table class="table table-striped">
  <thead>
    <tr>
  <th><%= check_box_tag("master",1,false,{ :id => "select_all", :onclick => "toggleItems(this,'leaves')" }) %></th>
      <th>Date</th>
      <th>Leave Type</th>
      <th>Reason</th>
	  <th width='25%'>Approved/Disapproved by</th>
	  <th width='5%'>Submitted</th>
	  <th width='20%'>Approval Status</th>
	  <th></th>
    </tr>
  </thead>
  <tbody>
<% for leave in @leaves %>
  <tr>
	<td><%= check_box_tag("leaves[]",leave.id,false,{ :class => "leaves"}) unless leave.is_submitted? %></td>
    <td> <%= leave.date %> </td>
    <td width='15%'> <%= leave.leave_type.name %></td>
	<td width='15%'><%= leave.reason %></td>
    <td><%= leave.approved? %></td>
	<td>
	  <% if leave.is_submitted? %>
	    <span class="badge badge-success"><span class='icon-ok'></span></span>
	  <% else %>	
	   	<span class="badge badge-warning"><span class='icon-remove'></span></span> 
	  <% end %>
	</td>	
	<td>
		<% if leave.is_approved? %>
	      <span class="badge badge-success">approved</span>
	    <% elsif leave.is_disapproved? %>
	      <span class="badge badge-important">disapproved</span>
	    <% elsif leave.is_pending? %>
	      <span class="badge badge-warning">pending</span>
	  <% end %>
	</td>
	<td>
	<% if leave.is_approved? || leave.is_disapproved? %>
	   <div class='icon-remove'></div>	
	<% elsif leave.is_pending? %>		
	<%= link_to 'edit',
                  edit_leafe_path(leave) %> <%= link_to '',
		                      leafe_path(leave),
		                      :method => :delete,
		                       :class => 'icon-trash', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>	 	
    <% end %>
</td>
  </tr>
<% end %>
  </tbody>	
</table>