<%= render partial: 'end_task_form_js' %>	
 <div class='own_page_header'>	
    <h4>End Current Task</h4>
</div>	
<div style='padding-left:25px;padding-top:10px'>
    
      <span class="label label-info"><%= @tasks.first.start.strftime('%l:%M:%S %p').downcase %></span><br/><br/>
        <%= form_for(@tasks.first,:remote => true ) do |f| %>  
		  
		  <label>Task</label>
		  <%= f.collection_select :task_id, role_tasks, :task_id, :name, :include_blank => true  %><br/>
		  
		  <label>Specific Task</label>
		  <%= f.grouped_collection_select :specific_task_id, role_tasks, :role_specific_tasks, :name ,:specific_task_id, :name, :include_blank => true  %><br/><br/>
          
		  <%= f.hidden_field :shift_date, :value => session[:shift_date] %>
			
		  <label>From or To</label>
          <%= f.text_field :person_in_charge %><br/><br/> 
		
          <label>Note</label>
          <%= f.text_area :note,:size => '20x3' %><br/><br/>         
          <%= hidden_field_tag :from, 'task manager' %>          

		  <%= check_box_tag :end_shift, 'yes', true %> continue?<span style='margin-left:40px'><%= f.submit :end, :value => "End Task", :class => 'btn btn-primary', :id => 'submit' %></span>
		<% end %>
 
</div>
