<%= form_for @task, :html => { :class => 'form-horizontal' } do |f| %>
  
  <div class="control-group">
    <%= f.label :task_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :task_id, role_tasks, :task_id, :name, :include_blank => true  %><br/>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :specific_task_id, :class => 'control-label' %>
    <div class="controls">
	  <%= f.grouped_collection_select :specific_task_id, role_tasks, :role_specific_tasks, :name ,:specific_task_id, :name, :include_blank => true  %><br/><br/>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :start, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start,:value => @task.start.strftime('%Y-%m-%d  %H:%M:%S') ,:class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :end, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end,:value => @task.end.strftime('%Y-%m-%d  %H:%M:%S'),:class => 'text_field' %>
    </div>
  </div>
 
  <%= hidden_field_tag :from, 'task form' %>          
    
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                person_tasks_path, :class => 'btn' %>
  </div>

<% end %>
