<div class="span11 body_layout">
  <div class='row-fluid'>	
    <div class='span3'>
	  <div style='padding:15px'>
        <%= image_tag avatar_url_large(current_user) %>
        <br/>
  		<div style='margin-left:5px;border-bottom: 1px solid #eee;padding-bottom:10px'>
		  <h3><%= current_user.name %></h3>
		  <div style='margin-top:-10px'> 
            <font style='color:#666;font-size:20px'><%= current_user.username %></font>
		  </div>
        </div>

		<div style='margin-left:5px;padding-bottom:10px'>

		  <div style='margin-top:5px'> 
            <font style='color:#666;font-size:13px'><%= current_user.department.name %></font>
		  </div>
        </div>

	    <div style='margin-left:5px;padding-bottom:10px'>

		  <div style='margin-top:5px'> 
	        <font style='color:#666;font-size:13px'><%= current_user.organization.name %></font>
	      </div>
	    </div>
      </div>
	</div>
	
	<div class='span9'>
    <div style='padding:20px'>
	
	
		<div class="tabbable"> <!-- Only required for left/right tabs -->
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#tab1" data-toggle="tab"><div class='icon-tags'>      Notifications</div></a></li>
		    <li><a href="#tab2" data-toggle="tab"><div class='icon-refresh'>  Recent Activities</div></a></li>
		  </ul>
		  <div class="tab-content">
		    <div class="tab-pane active" id="tab1">
			  <font style='color:red'><b><%= @activities_has_seen.count %></b></font> new notification <br/><br/>
			  
			  <%= render partial: 'dashboard_activities' %>
		    </div>
		    <div class="tab-pane" id="tab2">
		      <p>Web Dev currently working on it</p>
		    </div>
		  </div>
		</div>
      
    </div>
    </div>
  </div>
</div>	