<div class="span12 body_layout">
   <div class='own_page_header'>		
     <h3>Calendar
	  
	 </h3>
	<div class='pull-right' style='margin-top: -60px'>
	<h3 id="month">
	    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d"), :class => 'btn' %>
	    <%=h @date.strftime("%B %Y") %>
	    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
	  </h3>
	</div>
   </div> 	
   <div style='padding:20px' id='calendar'>

     <%= calendar_for @activities, :year => @date.year, :month => @date.month do |calendar| %>
       <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
       <% calendar.day(:day_method => :date ) do |date, activities| %>
	     <%= date.day %>
		 <ul>
		   <% for activity in activities %>
		     <% if activity.trackable_type == 'Leave' %>
			   <div style='background-color:#D7F2FF;padding:5px;margin-bottom:5px'>	
		         <li><span  >*<%= activity.owner.name + "'s Leave" if activity.owner %></span></li>
		       </div>
		     <% elsif activity.trackable_type == 'Event'  %>
			   <div style='background-color:#D8EECF;padding:5px;margin-bottom:5px'>	
			   <li><span id='cl_events'>* <%= link_to activity.trackable.title, activity.trackable %></span></li></div>
		     <% end %>
		   <% end %>
		 </ul>
	   <% end %>	
	 <% end %>	
   </div>	
</div>	
	