<%= render partial: 'js' %>


	 <h4><font style='color:#000'>Search Activities</h3><br/>
	 
	 <% if session[:form_type].blank? %>
	    <% @style_basic = 'display:block' %>
	    <% @style_advance = 'display:none' %>
	 <% elsif session[:form_type] == 'basic_form'  %> 
	    <% @style_basic = 'display:block' %>
		<% @style_advance = 'display:none' %>
	
	 <% elsif session[:form_type] == 'advance_form'  %> 
	    <% @style_basic = 'display:none' %>
		<% @style_advance = 'display:block' %>
	 <% end %>
	
	 <div id='basic' style='<%= @style_basic %>'>	
       <%= render partial: 'basic_search_tasks_form' %>
     </div>
   <% if current_user.role.name == 'Administrator' || current_user.role.name == '1st Level User' %> 
     <div id='advance' style='<%= @style_advance %>'>
       <%= render partial: 'advance_search_tasks_form' %>
     </div>
   <% end %>
