<div class="navbar navbar-inverse navbar-fluid-top" >
  <div class="navbar-inner" style='border-radius:0px !important;border-top: 0px !important;height:90px'>
   <div style='color:#fff;font-size:25px;margin-top:20px;float:left'>
	Kairos<br/><br/>
	<p><%= current_user.organization.name %> - <%= current_user.department.name %> </p>
   </div>	
   <div class='pull-right'><%= link_to "Edit Account", '#', :class => 'create-account-button' %> <%= link_to "Sign out", logout_url, :class => 'top-logout-button' %></div>
  </div>
</div>

<div class="navbar navbar-fluid-top" style='margin-top:-20px'>
  <div class="navbar-inner" style='border-radius:0px !important;border-top: 0px !important'>
    <ul class="nav">
      <li><%= link_to 'Dashboard', "#" %></li>
      <li><%= link_to ' Task Manager', person_tasks_url %></li>
      <% if current_user.role.name == 'Administrator' || current_user.role.name == '1st Level User' %>  
      <li class="dropdown">
	    <a class="dropdown-toggle"
	       data-toggle="dropdown"
	       href="#">
	        Administration
	        <b class="caret"></b>
	      </a>
	    <ul class="dropdown-menu">
	      <li><%= link_to '  Tasks', tasks_path %></li>
	      <li><%= link_to '  Specific Tasks', specific_tasks_path %></li>
	      <li><%= link_to '  People', people_path %></li>
	      <li><%= link_to '  Tasks Report', tasks_report_path %></li>
	    </ul>
	  </li>
      <% end %>
    </ul>
  </div>
</div>
